// Sass file watched and minified - css file autmatically output with Live SASS compiler in VsCode.
// Comments are written in this format in the SaSS file as they are not added to the minified CSS to save space.
// Sass variable and nesting structure features utilised.

// Font imports
@import url("https://fonts.googleapis.com/css2?family=Krub&family=Rubik&family=Bungee&display=swap");

// Font Variables
$headings: "Rubik", sans-serif;
$main: "Krub", sans-serif;
$hero: "Bungee", sans-serif;

// Colour Variables

// Main green
$gator-green: #00c7b1;

//Lighter version of same green
$light-gator-green: #4ac9ba;

// Version of red
$red: #c70017;

// Black and white choices
$rich-black: #020c0c;
$off-white: #eef0f2;

//Set sizing to include padding and border
* {
  box-sizing: border-box;
}

// set default font family and size. body margin removed.
body {
  margin: 0;
  font-family: $headings;
  font-size: 16px;
  background-color: $gator-green;
}

// flex used for header and nav so that elements wrap on smaller screens. logo and nav split to oppsite sides of screen.
header {
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
  justify-content: space-between;
  background-color: $rich-black;

  ol {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 2em;
    padding-left: 0.8em;
  }

  li {
    margin-top: 0.5em;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    margin: 2em 0 2em 1.5em;
    color: $off-white;

    //hover state for links
    &:hover {
      color: $red;
      text-decoration: underline;
    }
  }
  //hover state adds border to icons
  .navIcon:hover {
    border: 2px $red solid;
    border-radius: 5px;
    padding: 2px;
  }
}

// Nav styling and layout
// Logo

#logo {
  font-size: 2rem;
  margin: 1.5rem 1rem 0 0;
}

//coffee bean in logo relatively positioned over text, filter used to brighten for better contrast
#bean {
  position: relative;
  left: -14px;
  top: 12px;
  filter: brightness(1.5);
}

// green class used to style font the company green
.green {
  color: $gator-green;
}

// first section - own photo used for background.
#fullScreen {
  padding: 15vh 0 1% 0;
  position: relative;
  height: 110%;
  // Pseudo element used for background so the opacity could be set without affecting the text
  &::before {
    content: "";
    background-image: url(/images/coffeeBeans.jpeg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
}

// background with reduced opacity to show image behind and improve text accessability.
#heroText {
  margin: 0 auto;
  background-color: rgba(2, 12, 12, 0.9);
  border-radius: 10px;
  height: auto;
  width: 80%;
}

// main hero text
h1 {
  font-size: 6vw;
  margin: 0 2.5rem;
  padding-top: 10px;
  color: $off-white;
  font-family: $hero;
}

// hero middle text
.heroInfo {
  font-size: 20px;
  color: $off-white;
  text-align: left;
  color: $off-white;
  margin: 0.5rem 2.5rem 0 2.5rem;
}

// hero bottom text
h2 {
  color: #00c7b1;
  font-size: 20px;
  margin: 2.5rem;
  padding: 20px 0;
}

//scroll arrow with the same styling as text box, now placed lower on the screen.
#scrollArrow {
  background-color: rgba(2, 12, 12, 0.9);
  font-size: 1rem;
  font-family: $main;
  color: $off-white;
  width: 150px;
  height: 70px;
  text-align: center;
  margin: 15% auto 12%;
  border-radius: 10px;

  p {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

// Infinite Arrow animated to blink slowly, used to highlight to the user that scrolling is possible
#downArrow {
  color: #00c7b1;
  animation-name: pointDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
  margin-bottom: 5px;
}

// Keyframes used to set opacity and appear flashing
@keyframes pointDown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Animated lid - lid positioned absolutely and pieces scroll into place using GS in main.js

// section sizing for the lid animation
#movingLid {
  width: 80%;
  height: auto;
  margin: 0 auto;

  h3 {
    display: block;
    font-size: 1.5em;
    font-family: $main;
    font-weight: lighter;
    margin: 4rem 0 15vh 3rem;
  }
}

//main stationary lid image relatively positioned and centered.
#lid {
  position: relative;
  margin: 0 auto;
  width: 360px;
  height: 360px;
}

// id assigned to each piece for directional positioning and single class used for the position absolute of each.
.piece {
  position: absolute;
}

// Positioning where absolute lid parts finish animating to
#filter {
  top: 30%;
  left: 36%;
}

#dateRing {
  top: 16.5%;
  left: 22%;
}

#disc {
  top: 25.5%;
  left: 32%;
}

.lidInfo {
  font-size: 1.5em;
  font-family: $main;
  margin: 0 0 5px 2.6rem;
}

// Product details and images section

#details {
  display: grid;
  place-items: center;
  // Auto sizing grid that stacks under a certain size
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  font-family: $main;
  font-size: 1.1em;
  margin: 5vh 0;

  h4 {
    font-family: $headings;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  ul {
    line-height: 1.75;
    margin: 0 0 4vh 0;
  }

  img {
    margin: 1em;
  }
}

#canDetails {
  height: 100%;
  margin-top: 18%;
}

// CTA button styling
#buyButton {
  width: 15em;
  height: 3em;
  margin-left: 20px;
  font-family: $headings;
  font-weight: 600;
  border: 2px solid;
  color: $rich-black;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 6px 1px #020c0c53;
  background-color: $off-white;
  padding: 10px;
  transition: background-color 0.5s ease-in-out;

  // Hover state to show interaction with button
  &:hover {
    background-color: $rich-black;
    color: $gator-green;
    border: 0;
  }
}

// Footer styles
// grid used for footer sections
footer {
  background-color: $rich-black;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-family: $headings;
  color: $off-white;
  font-size: 1rem;
}

#contact {
  margin: 16px;

  p {
    margin: 0;
  }
  // used to add margin to the bottom line of the address only.
  :nth-last-child(2) {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: $off-white;

    &:hover {
      text-decoration: underline;
    }
  }
}

// class used to give icons margin on sides.
.media {
  margin: 0 3px;
}

//grid used to position social media link icons.
#socialMedia {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: 0.5fr 1fr;
}

// grid colums assigned for positioning.
#mediaTitle {
  text-align: center;
  grid-column: 1/5;
}

#media1 {
  grid-column: 1/2;
}
